<style>
    * {
        /*  width и height элементов включают в
            себя значения полей и границ  */
        box-sizing: border-box;
    }
    .grid-init {
        max-width: 100%; /* максимальная ширина контейнера */
        max-height: 100%;
        margin: auto; /* центрирование контейнера на странице */
        background-color: lightsteelblue; /* фон */
        padding: 10px; /* внутренние отступы */
    }
    .box-init {
        max-width: 100%; 
        max-height: 100%;
        font-size: larger; /* размер шрифта */
        color: #fff; /* цвет текста */
        border-radius: 5px; /* скругление углов */
        background-color: #2196f3; /* цвет фона */
        border: 1px solid black; /* граница блока */
        padding: 10px; /* внутренние отступы */
        /*  выравнивание текста по центру блока
            с помощью CSS Flexbox  */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 2fr 2fr;
    }
</style>

<div class="grid-init grid">
    <div class="box-init box">
        <p>Temperature: {{metrics.temperature}}</p>
        <p>Pressure: {{metrics.pressure}}</p>
        <p>Humidity: {{metrics.humidity}}</p>
    </div>
    <div class="box-init box">
        <p>data</p>
    </div>
</div>