<!DOCTYPE html>
<html>
    <head>
        <style>
            body{
                background-color: ghostwhite;
            }

            .column_1{
                width: 50%;
                min-height: 150px;
            }

            .column_2{
                width: 50%;
                min-height: 150px
            }
        </style> 
    </head>

    <body>
        <div class="column_1">
            <p>Temperature: {{metrics.temperature}}&deg;C</p>
            <p>Pressure: {{metrics.pressure}} Pa</p>
            <p>Humidity: {{metrics.humidity}}%</p>
        </div>

        <div class="column_2">
            graphics
        </div>
    </body>
</html>